/*
What: Template for web dev
When: 2020-04-23
Who: daBard
*/

/* Base */
body {
    height: 100vh;
    width: 100vw;
    background-color: #ced3ce;
}

.flx-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flx-column {
    flex-direction: column;
}

/* HEADER */

/* MAIN */
main {
    max-width: 640px;
    height: 100%;
    width: 100%;
}

#calculator {
    width: 100%;
}

#screen-box {
    width: 100%;
    margin-bottom: 0.3em;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #efefef;
}

#screen {
    width: 98%;
    padding: 10px 1%;
    font-size: 3em;
    text-align: right; 
}

#keys-box {
    width: 100%;
}

#keys {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0.3em;
}

.key {
    padding: 5px 20px;
    font-size: 1.5em;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #cecece;
    cursor: default;
    user-select: none; /* Standard */
}

.key:hover {
    background-color: #aeaeae;
}

.key:active {
    background-color: #8e8e8e;
}

.digit-key {
    background-color: #efefef;
}

#equals {
    background-color: #00b000;
}

#equals:hover {
    background-color: #009000;
}

#equals:active {
    background-color: #007000;
}

/* FOOTER */
